*.log
.cache
.DS_Store
.idea
.vscode
.npmrc

node_modules/
dist/
sn-pivot-table-ext/
coverage/
example/
core/esm/
test/rendering/artifacts
test/rendering/test-report
test/rendering/state.json
src/locale/all.json
