# Default hoist value. Needed because eslint won't work without hoisting all plugins
public-hoist-pattern[]=*eslint*
# Default hoist value. Needed because prettier won't work without hoisting all plugins
public-hoist-pattern[]=*prettier*
# pnpm build logs a bunch of warnings that the package is missing
public-hoist-pattern[]=@types/node
