# Default hoist value. Needed because eslint won't work without hoisting all plugins
public-hoist-pattern[]=*eslint*
# Default hoist value. Needed because prettier won't work without hoisting all plugins
public-hoist-pattern[]=*prettier*
# pnpm build will crash because it cannot find yargs in node_modules
public-hoist-pattern[]=yargs
# pnpm build will crash because it cannot find fs-extra in node_modules
public-hoist-pattern[]=fs-extra
# pnpm build logs a bunch of warnings that the package is missing
public-hoist-pattern[]=@types/node
